
body{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-family:"Roboto",Helvetica Neue,Arial,sans-serif;
    color:#2d3136;
    margin:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    text-align:left;
    background-color:#fff
}
html,body{
    overflow-x:hidden
}

img{
    height:auto;
    max-width:100%;
    vertical-align:middle
}

span{
    display:inline-block;
}
